* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;  
}

html, body{
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background: radial-gradient(circle, #fff, #bbb);
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
}

.container__todo{
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 42, 42);  
    height: auto;
    align-items: center;
    padding: 20px;
    gap: 20px;
    border: 2px solid #fff;
    border-radius: 4px;
}

.container__todo__sub{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
    border: 2px solid #fff;
}

.container__todo h1{
    color: #fff;
}

.container__todo__sub-inputs{
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}

.container__todo__sub-inputs input{
    height: 40px;
}

.container__todo__sub a{
    display: flex;
}

#agregar{
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    height: auto;
    display: flex;
    align-items: center;
    padding: 4px;
    transition: all 1s;
    cursor: pointer;
    justify-content: center;
}

#agregar:hover{
    background-color: rgb(13, 155, 56);
}

.marcasNotSuccess{
    width: 40vw;
    height: 80px;
    background-color: rgb(48, 42, 42);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.marcasNotSuccess h1{
    color:rgb(197, 21, 59);
}

.marcasNotSuccess a{
    color: #fff;
}